In [1]:
import os

In [4]:
base_dir = "../WorldValuesBench/WorldValuesBench/full"

# get all files in the directory
files = os.listdir(base_dir)
print(files)

['full_demographic_qa.tsv', 'full_value_qa.tsv']

In [6]:
# convert tsv to df
import pandas as pd

df_1 = pd.read_csv(base_dir + "/" + files[0], sep="\t", low_memory=False) # low_memory=False to avoid warning
df_2 = pd.read_csv(base_dir + "/" + files[1], sep="\t")

In [7]:
df_1.head()

,D_INTERVIEW,A_YEAR,B_COUNTRY,J_INTDATE,N_TOWN,G_TOWNSIZE,H_SETTLEMENT,H_URBRURAL,S_INTLANGUAGE,E1_LITERACY,...,Q282,Q283,Q284,Q285,Q286,Q287,Q288,Q289,Q289CS9,Q290
0,20070001,2018,Andorra,20180704,AD: Andorra la Vella,"20,000-50,000",Capital city,Urban,Catalan; Valencian,Not asked in survey,...,"Semi-skilled worker (for example: bricklayer, ...","Farm worker (for example: farm labourer, tract...",Private business or industry,No,Spent some savings and borrowed money,Lower middle class,5.0,Roman Catholic,Roman Catholic; Latin Church;,AD: Caucasian white
1,20070002,2018,Andorra,20180714,AD: Encamp,"5,000-10,000",Regional center,Urban,Catalan; Valencian,Not asked in survey,...,"Clerical (for example: secretary, clerk, offic...","Sales (for example: sales manager, shop owner,...",Private business or industry,Yes,Save money,Upper middle class,9.0,Roman Catholic,Roman Catholic; Latin Church;,AD: Caucasian white
2,20070003,2018,Andorra,20180704,AD: Encamp,"5,000-10,000",Regional center,Urban,Catalan; Valencian,Not asked in survey,...,-3,"Service (for example: restaurant owner, police...",Private business or industry,Yes,Just get by,Lower middle class,5.0,Roman Catholic,Roman Catholic; Latin Church;,AD: Caucasian white
3,20070004,2018,Andorra,20180702,AD: Encamp,"5,000-10,000",Regional center,Urban,Catalan; Valencian,Not asked in survey,...,"Skilled worker (for example: foreman, motor me...","Farm worker (for example: farm labourer, tract...",Private business or industry,No,Just get by,Working class,4.0,Do not belong to a denomination,Non-religious,AD: Caucasian white
4,20070005,2018,Andorra,20180708,AD: Encamp,"5,000-10,000",Regional center,Urban,Catalan; Valencian,Not asked in survey,...,"Service (for example: restaurant owner, police...","Unskilled worker (for example: labourer, porte...",Private business or industry,Yes,Save money,Working class,4.0,Do not belong to a denomination,Non-religious,AD: Caucasian white

In [11]:
df_2.head(10)

,D_INTERVIEW,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q250,Q251,Q252,Q253,Q254,Q255,Q256,Q257,Q258,Q259
0,20070001,1.0,1.0,1.0,3.0,1.0,4.0,1.0,1.0,2.0,...,8.0,8.0,8.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0
1,20070002,1.0,1.0,1.0,4.0,1.0,4.0,1.0,2.0,1.0,...,10.0,6.0,6.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,20070003,1.0,2.0,2.0,2.0,3.0,3.0,2.0,1.0,2.0,...,10.0,8.0,3.0,1.0,3.0,2.0,2.0,2.0,2.0,2.0
3,20070004,1.0,1.0,1.0,4.0,2.0,4.0,1.0,2.0,2.0,...,7.0,6.0,6.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0
4,20070005,1.0,1.0,1.0,3.0,1.0,3.0,1.0,2.0,1.0,...,8.0,8.0,7.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0
5,20070006,1.0,3.0,1.0,4.0,1.0,3.0,1.0,2.0,2.0,...,10.0,10.0,10.0,1.0,NaN,1.0,1.0,1.0,3.0,1.0
6,20070007,1.0,2.0,1.0,4.0,1.0,2.0,1.0,2.0,2.0,...,7.0,5.0,4.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
7,20070008,1.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,1.0,...,10.0,7.0,7.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
8,20070009,2.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,...,10.0,6.0,5.0,2.0,NaN,1.0,2.0,1.0,1.0,1.0
9,20070010,1.0,1.0,2.0,4.0,2.0,2.0,1.0,1.0,2.0,...,5.0,5.0,7.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0